<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
    <title>Movie Form</title>
</head>
<body>
    <div class="topnav">
        <a th:href="@{/}">Form</a>
        <a th:href="@{/authors}">Authors</a>
        <a th:href="@{/movies}">Movies</a>
    </div>
    <div class="container">
        <h2> Movie Portal </h2>
        <form action="post" th:object="${movies}" th:action="@{/handleSubmit}">
            <p style="color: red" th:errors="*{name}"></p>
            <input type="text" class="name" placeholder="Name" th:field="*{name}">
            <p style="color: red" th:errors="*{description}"></p>
            <input type="text" class="discription" placeholder="Description" th:field="*{description}">
            <input type="hidden"  th:field="*{count}">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

